# Ignore les fichiers .html car ces derniers sont le résultat de la génération avec markdown
*.html
# Ignore swap file from VIM
*.swp
# Ignore tempo single
*~
# Ignore untar file 
./serveur_de_courriels/dockers/srvMailWithImapWithBD/data/postfixadmin-2.3.8/*
# toc (generation de Table Of Content
toc
