user = {{ MYSQL_USER }}
password = {{ MYSQL_PASSWORD }}
hosts = {{ DB_HOST }}
dbname = {{ MYSQL_DATABASE }}
SELECT domain FROM domain WHERE domain='%s' AND active = '1'
#query          = SELECT domain FROM domain WHERE domain='%s'
#optional query to use when relaying for backup MX
#query           = SELECT domain FROM domain WHERE domain='%s' AND backupmx = '0' AND active = '1'
#expansion_limit = 100
